@import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&family=Yeseva+One&display=swap");
:root {
  --clr-primary-900: #ff5fd2;
  --clr-primary-700: #fff1ff;
  --clr-accent-700: #4A52FF;
  --clr-accent-700-shadow: #4a53ff70;
  --clr-neutral-1000: #ffffff;
  --clr-neutral-900: #f4f0f8;
  --clr-neutral-700: #d9d9d9;
  --clr-dark-700: #2e2e2e;
  --clr-dark-600: #232323;
  --ff-primary: "Jura", sans-serif;
  --ff-secondary: "Yeseva One";
  --fw-regular: 400;
  --fw-semi-medium: 500;
  --fw-medium: 600;
  --fw-bold: 700;
  --fs-1000: 11.25rem;
  --fs-700: 4rem;
  --fs-600: 3rem;
  --fs-550: 2.25rem;
  --fs-500: clamp(18px, 2rem, 32px);
  --fs-400: clamp(18px, 1.875rem, 30px);
  --fs-300: clamp(18px, 1.5rem, 24px);
  --fs-100: 18px;
  --fs-50: 0.625;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex.start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex.spb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.spb.ais {
  justify-content: space-between;
  align-items: flex-start;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.g10 {
  gap: 10px;
}

.g20 {
  gap: 20px;
}

.g40 {
  gap: 2.5rem;
}

.mY10 {
  margin: 10px 0;
}

.center {
  text-align: center;
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.clr-primary {
  color: var(--clr-primary-700);
}

.clr-neutral {
  color: var(--clr-neutral-1000);
}

.clr-accent {
  color: var(--clr-accent-700);
}

.clr-dark {
  color: var(--clr-dark-700);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-550 {
  font-size: var(--fs-550);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.pos-rel {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  width: 100vw;
  font-size: clamp(8px, 2vw, 16px);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  font-family: var(--ff-primary);
  position: relative;
  color: var(--clr-dark-700);
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--clr-neutral-1000);
  font-size: var(--fs-100);
}
body.non-scrollable {
  height: 100vh;
  overflow-y: hidden;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
main {
  margin: 0 auto;
  max-width: 1560px;
}

.button {
  font-size: var(--fs-550);
  text-decoration: none;
  color: var(--clr-neutral-1000);
  font-weight: var(--fw-bold);
  position: relative;
  transition: 0.2s ease;
}
.button::after {
  content: "";
  margin-left: 1rem;
  display: inline-block;
  height: 1rem;
  aspect-ratio: 48/15;
  background: url("/assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
}
.button:hover {
  text-shadow: 0 0 20px var(--clr-neutral-1000);
}
.button:hover::after {
  filter: drop-shadow(0 0 5px var(--clr-neutral-1000));
}

.button.blue {
  color: var(--clr-accent-700);
}
.button.blue::after {
  background: url("/assets/icons/arrow-blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.button.blue:hover {
  text-shadow: 0 0 20px var(--clr-accent-700-shadow);
}
.button.blue:hover::after {
  filter: drop-shadow(0 0 5px var(--clr-accent-700-shadow));
}

.dark {
  color: var(--clr-neutral-1000);
  background-color: var(--clr-dark-700);
}

.layout-setter {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 2.5rem;
  gap: 10px;
}

.layout-setter.padding {
  padding-top: 10.625rem;
}

.first-child {
  flex: 1;
  min-width: 250px;
  max-width: 385px;
}

.second-child {
  flex: 3;
  margin-bottom: clamp(70px, 6.25rem, 100px);
  z-index: 2;
  min-width: 300px;
}
.second-child.lh p {
  line-height: 204.52%;
}
.second-child p {
  max-width: 800px;
}

.section-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-550);
  position: relative;
}
.section-title::before {
  content: "";
  width: 2.5rem;
  height: 1px;
  background: var(--clr-dark-700);
  display: inline-block;
  margin-right: clamp(5px, 0.625rem, 10px);
  position: relative;
  bottom: 0.7rem;
}

.hero {
  height: 100%;
  padding-bottom: 5rem;
  width: 1005;
  isolation: isolate;
  overflow: hidden;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/group.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(100px);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.noise {
  position: relative;
}
.noise::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/noise.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: soft-light;
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}

.container {
  padding: 10.625rem 2.5rem 0;
  gap: 20px;
}

nav {
  min-width: 11.25rem;
}

nav ul li,
nav ul li a {
  text-decoration: none;
  list-style: none;
  color: var(--clr-neutral-1000);
  font-size: var(--fs-550);
  transition: 0.2s ease;
}

nav ul li a:hover {
  text-shadow: 0 0 20px var(--clr-neutral-1000);
}

.main-title {
  text-transform: uppercase;
  font-size: var(--fs-1000);
  line-height: 11.625rem;
  font-family: var(--ff-secondary);
  margin-bottom: 2.8125rem;
}

.main-container {
  max-width: 1040px;
}

.descr {
  margin-bottom: 2.8125rem;
}

.gradient-title {
  font-size: var(--fs-700);
  line-height: calc(var(--fs-700) + var(--fs-700) / 10);
  font-family: var(--ff-secondary);
  background: linear-gradient(91.93deg, #363bb6 -2.62%, #db0bdf 60.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title {
  font-size: var(--fs-550);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
}

.blob {
  isolation: isolate;
  position: relative;
}
.blob img {
  --top: -200px;
  position: absolute;
  top: var(--top);
  left: -70px;
  width: clamp(100px, 50vw, 540px);
  filter: blur(75px);
  z-index: -1;
}

section.special {
  width: clamp(320px, 90%, 1300px);
  position: relative;
  border-radius: 0 35px 35px 0;
  border: 1px solid var(--clr-dark-700);
  border-left: none;
  isolation: isolate;
  top: 20px;
}

img#heart {
  position: absolute;
  --top: -290px;
  top: var(--top);
  left: 20px;
  z-index: -1;
  width: clamp(130px, 30vw, 280px);
}

.about {
  background: var(--clr-primary-700);
}
.about .title {
  margin-bottom: 0;
}

.special-content {
  width: 100%;
  padding: 5rem;
  overflow: hidden;
}
.special-content .flex.wrap.spb {
  gap: 30px;
}
.special-content .flex.end {
  align-self: flex-end;
  max-width: 890px;
  margin-bottom: 4.375rem;
}
.special-content .flex.end p {
  max-width: 800px;
  font-weight: var(--fw-semi-medium);
}
.special-content .flex.end a {
  color: #4a52ff;
  text-decoration: underline;
  transition: 0.2s ease;
}
.special-content .flex.end a:hover {
  color: var(--clr-primary-900);
}
.special-content .fs-400 {
  width: clamp(300px, 100%, 670px);
}

.blob-images {
  gap: 30px;
  position: relative;
  isolation: isolate;
  align-items: stretch;
}
.blob-images .blur-shape {
  position: absolute;
  top: -20px;
  left: -80px;
  z-index: -1;
  filter: blur(75px);
}
.blob-images img:not(.blur-shape) {
  width: clamp(80px, 45%, 160px);
  padding: 10px;
  border-radius: 10px;
  flex: 1;
  background: var(--clr-primary-700);
  max-width: 100%;
}

.results {
  padding: 6.25rem 2.5rem;
}
.results .bubble {
  position: absolute;
  top: -300%;
  right: 180px;
  width: clamp(100px, 30vw, 320px);
  z-index: -1;
}
.results .stats {
  max-width: 785px;
  gap: 3.75rem;
}
.results .stat {
  position: relative;
  flex: 1;
  max-width: 215px;
  min-width: 200px;
}
.results .stat .number {
  font-size: var(--fs-700);
  color: #7d83ff;
  font-family: var(--ff-secondary);
}
.results .stat .number.second {
  color: #fc60ff;
}

section#team {
  overflow: hidden;
  padding: 6.25rem 2.5rem;
}
section#team .blob img {
  max-width: 331px;
  --top: -1070px;
  top: var(--top);
  left: -40px;
  filter: blur(55px);
}
section#team .member {
  max-width: 320px;
  width: 90%;
  min-width: 280px;
}
section#team .member img {
  max-width: 100%;
}
section#team .name {
  font-family: var(--ff-secondary);
  font-size: var(--fs-300);
  margin: 1.25rem 0;
}

section#feedback {
  padding-right: 0;
}
section#feedback .blob img {
  --top: -1330px;
  filter: blur(110px);
  width: clamp(100px, 20vw, 480px);
  top: var(--top);
  left: -98px;
}
section#feedback .swiper {
  width: 100%;
  --size: 0px;
}
section#feedback .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
section#feedback .swiper-button-next,
section#feedback .swiper-button-prev {
  top: calc(100% - var(--swiper-navigation-size) / 2);
}
section#feedback .swiper-button-prev {
  left: calc(50% - var(--size) - 10px);
  transform: translate(-50%);
}
section#feedback .swiper-button-next {
  right: calc(50% - var(--size) - 10px);
  transform: translate(50%);
}
section#feedback .pagination-number.active {
  color: #4a52ff !important;
}
section#feedback .pagination-number:hover {
  color: #7077fd !important;
}

.feedback {
  width: clamp(280px, 90%, 670px);
  height: calc(100% - var(--swiper-navigation-size));
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid var(--clr-dark-700);
  background: #efefff;
  padding: 2.8125rem;
  margin-bottom: calc(var(--swiper-navigation-size) + 1.25rem);
}

.avatar {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 3.75rem;
}

.download {
  justify-content: flex-start;
  padding: 6.25rem 2.5rem;
  width: 100%;
  overflow: hidden;
}
.download .notebook {
  position: relative;
}
.download .notebook img:not(.blob) {
  width: clamp(100px, 20vw, 270px);
  position: relative;
  --top: -1450px;
  top: var(--top);
}
.download img.blob {
  position: absolute;
  top: 10px;
  left: 80px;
  filter: blur(140px);
  z-index: -1;
  width: clamp(100px, 30vw, 400px);
}
.download .flex.column {
  width: 100%;
  font-size: var(--fs-300);
  max-width: 570px;
}
.download .flex.column .flex {
  color: var(--clr-neutral-1000);
  max-width: 555px;
  width: 100%;
  gap: 10px;
  cursor: pointer;
}
.download .flex.column .flex:hover {
  text-shadow: 0 0 20px var(--clr-neutral-1000);
}
.download .flex.column .flex:hover img {
  filter: drop-shadow(0 0 20px var(--clr-neutral-1000));
}

.help {
  padding: 6.25rem 2.5rem;
}
.help .phone {
  color: #e51bc5;
  text-decoration: underline;
  transition: 0.2s ease;
}
.help .phone:hover {
  color: #4a52ff;
}

section#contacts .blob img {
  max-width: 224px;
  filter: blur(150px);
  left: 10px;
  --top: -1792px;
  top: var(--top);
}
section#contacts p {
  margin-bottom: 45px;
}
section#contacts p a {
  color: var(--clr-accent-700);
  transition: 0.2s ease;
}
section#contacts p a:hover {
  color: var(--clr-primary-900);
}

.form .title {
  margin: 1.25rem 0 2.5rem;
}
.form p {
  max-width: 620px;
}
.form form {
  justify-content: flex-start;
}
.form button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 0.2s ease;
}
.form button:hover {
  transform: translate(10px);
}
.form input {
  transition: 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid var(--clr-dark-700);
  width: clamp(250px, 80%, 440px);
  padding: 10px 20px 10px 5px;
}
.form input:hover, .form input:focus {
  border: 1px solid var(--clr-accent-700);
}
.form input:focus {
  outline: 1px solid var(--clr-accent-700);
}

footer {
  height: 225px;
  padding: 0 2.5rem;
  isolation: isolate;
  overflow: hidden;
}
footer a {
  transition: 0.2s ease;
  color: var(--clr-neutral-1000);
}
footer a:hover {
  text-shadow: 0 0 20px var(--clr-neutral-1000);
}
footer::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(100px);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}
footer .nav {
  width: clamp(200px, 100%, 670px);
}
footer .logo {
  font-family: var(--ff-secondary);
  font-size: var(--fs-500);
  text-transform: uppercase;
}

@media screen and (min-width: 1600px) {
  .rellax:not(.bubble):not(#heart) {
    top: calc(var(--top) + 100px) !important;
  }
}
@media screen and (max-width: 980px) {
  .mq980 {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  section#feedback {
    padding-right: 2.5rem;
  }
}
@media screen and (max-width: 855px) {
  .container {
    padding: 5rem 2.5rem 0;
  }
}
@media screen and (max-width: 520px) {
  footer .nav.flex.spb {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
}/*# sourceMappingURL=style.css.map */