@import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&family=Yeseva+One&display=swap");

:root {
  // Buttons and highlights, main color of the site
  --clr-primary-900: #ff5fd2;
  --clr-primary-700: #fff1ff;

  // Header and footer, additional color to primary
  --clr-accent-700: #4A52FF;
  --clr-accent-700-shadow: #4a53ff70;

  // General background and ambient colors
  --clr-neutral-1000: #ffffff;
  --clr-neutral-900: #f4f0f8;
  --clr-neutral-700: #d9d9d9;

  --clr-dark-700: #2e2e2e;
  --clr-dark-600: #232323;

  // Primary font styles
  // Made for the possible future changes in design
  --ff-primary: "Jura", sans-serif;
  --ff-secondary: "Yeseva One";

  --fw-regular: 400;
  --fw-semi-medium: 500;
  --fw-medium: 600;
  --fw-bold: 700;

  --fs-1000: 11.25rem; // 180px
  --fs-700: 4rem; // 64px
  --fs-600: 3rem; // 48px
  --fs-550: 2.25rem; // 36px
  --fs-500: clamp(18px, 2rem, 32px); // 32px
  --fs-400: clamp(18px, 1.875rem, 30px);
  --fs-300: clamp(18px, 1.5rem, 24px); // 24px
  --fs-100: 18px; // 1.125rem;
  --fs-50: 0.625; // 10px
}

//Utilities
@mixin flex($jc: center, $ai: center, $wrap: nowrap, $direction: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

.flex {
  @include flex();
}

.flex.start {
  @include flex(flex-start, flex-start);
}

.flex.spb {
  @include flex(space-between);
}

.spb.ais {
  justify-content: space-between;
  align-items: flex-start;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.g10 {
  gap: 10px;
}

.g20 {
  gap: 20px;
}

.g40 {
  gap: 2.5rem;
}

.mY10 {
  margin: 10px 0;
}

.center {
  text-align: center;
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.clr-primary {
  color: var(--clr-primary-700);
}

.clr-neutral {
  color: var(--clr-neutral-1000);
}

.clr-accent {
  color: var(--clr-accent-700);
}

.clr-dark {
  color: var(--clr-dark-700);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-550 {
  font-size: var(--fs-550);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.pos-rel {
  position: relative;
}
